body {
  background-image: url("../images/starrybackground.jpg");

}


main {
  width: 80%;
  margin: 0 auto;
}


#title {
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  font-size: 36px;
  text-align: center;
  color: orange;
}


h3 {
  font-family: monospace;
  font-size: 32px;
  text-align: left;
  color: seashell;
}


img{
  width: 160px;
  height: 160px;
}


